.gameicon {
    width: 120px;
    margin-right: 30px;
}

.gametitle h2 {
    display: inline-block;
    transform: translateY(12px);
    font-size: 50px;
    font-style: italic;
}

.gametitle {
    margin-left: 30px;
    margin-bottom: 50px;
    display: flex;
}

.game {
    margin: 150px 0px 50px 50px;
}

.summary-and-titlescreen {
    display: flex;
}

.titlescreen {
    max-width: 50%;
    margin-right: 40px;
}

.summary {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px 0px 50px;
}

.info {
    font-size: 40px;
    text-align: center;
    margin: 120px;
}

.download {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    opacity: .8;
}

.download:hover {
    opacity: 1;
}

.carousel,
.carousel-image {
  width: 1000px;
  height: 600px;
}

.carousel {
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

.carousel-image-row {
  display: flex;
  left: 0px;
  position: relative;
  transition: 0.5s left;
}

.carousel-image img {
  height: 100%;
  width: auto;
}

.hidden {
  visibility: hidden;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.button-next,
.button-previous {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}